html, body {
  width: 100%;
  height: 600px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

text {
	fill:white;
}



.axis text {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text{
	fill:black;
}


.x.axis path {
  display: none;
}




















