---
title: Welcome to Middleman
---

<script>
var AUTOTUNE = <%=data.autotune.to_json %>;
</script>

<div class="wrapper">
	<svg class = "svg"></svg>
</div>
<%= javascript_include_tag  "pym" %>
<%= javascript_include_tag  "chart" %>

